<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.override_head_title -%}
    <title>{{ page.title }}</title>
    {%- seo title=false -%}
  {%- else -%}
    {%- seo -%}
  {%- endif %}
  <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}">
  <link rel="preload" href="/assets/fonts/libre-baskerville.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/libre-baskerville-bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/libre-baskerville-italic.woff2" as="font" type="font/woff2" crossorigin>
  {%- feed_meta -%}
  <script data-goatcounter="https://demian.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</head>
