* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(/assets/fonts/libre-baskerville.woff2) format('woff2');
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'), url(/assets/fonts/libre-baskerville-bold.woff2) format('woff2');
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'), url(/assets/fonts/libre-baskerville-italic.woff2) format('woff2');
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url(/assets/fonts/JetBrainsMono-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

html {
  --background-color:   #f9fdfa;
  --accent-color:       #f13900;
  --text-color:         #051f20;
  --text-color-dim:     #235347;
  --text-color-dimmer:  #8eb69b;
  --text-color-dimmest: #daf1de;
}

html {
  font-family: 'Libre Baskerville', 'DejaVu Serif', 'Bitstream Vera Serif', 'Georgia', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: var(--text-color);
  background-color: var(--background-color);
  font-kerning: normal;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  /* Set `margin-bottom` to maintain vertical rhythm */
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

figure > img {
  display: block;
}

figcaption {
  font-size: 0.875rem;
}

ul, ol {
  margin-left: 2rem;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  /* Libre Baskerville font has some really pretty ligatures. Too fancy for normal text, but totally acceptable for titles. */
  font-variant-ligatures: common-ligatures discretionary-ligatures;
}

a:not(.inert-link) {
	color: inherit;
	transition: all 0.1s;
	text-underline-offset: 0.1em;
}
a:not(.inert-link):hover {
	text-underline-offset: 0.3em;
	color: var(--accent-color);
}
.inert-link {
  text-decoration: none;
}

.social-media-list a:hover {
  text-decoration: none;
}
.social-media-list a:hover .username {
  text-decoration: underline;
}

blockquote {
  color: var(--text-color-dim);
  border-left: 1px solid var(--text-color-dim);
  padding-left: 2rem;
  font-size: 1.125rem;
  font-style: italic;
}
blockquote > :last-child {
  margin-bottom: 0;
}
blockquote .source {
  font-style: normal;
  font-size: 1rem;
  text-align: end;
}

pre,
code {
  font-family: ui-monospace, 'JetBrains Mono', 'SFMono-Regular', 'SF Mono', 'Menlo', 'Consolas', 'Liberation Mono', monospace;
  /* JetBrains Mono has beautiful ligatures, but it makes more sense for a blog
  to have discernible characters. */
  font-variant-ligatures: none;
}

code {
  border-radius: 3px;
  background: #e9f1ec;
  padding: 3px 3px;
}

pre code {
  border-radius: 0;
  background: none;
  padding: 0;
}

pre {
  line-height: 1.5;
  background-color: #f0f6f2;
  padding: 8px 16px;
  overflow-x: auto;
  border-left: 1px solid var(--text-color-dim);
  overflow-x: auto;
}

.wrapper {
  margin: 0 auto;
  padding: 0 10%;
  max-width: 730px;
  /* Use content-box box sizing so that the percentage padding is not counted as
  part of the width. This avoid content getting narrower as the viewport gets
  bigger. */
  box-sizing: content-box;
}

/* When a post has sidenotes, the horizontal space distribution is:
10+50+5+25+10 Where there's 10% space to each side, the main text takes 50%, the
sidenotes 25%, and there's a 5% gap between them. All this up to a maximum total
size of 1460px. */
body:has(.sidenote) .wrapper {
  /* Consider the space taken by the padding. */
  max-width: calc(1460px * 0.8);
}

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: var(--text-color-dimmer);
  margin-right: 0.5rem;
  vertical-align: text-top;
}

.social-media-list li + li {
  padding-top: 5px;
}

table {
  margin-bottom: 2rem;
  width: 100%;
  text-align: left;
  color: var(--text-color-dim);
  border-collapse: collapse;
  border: 1px solid var(--text-color-dimmest);
}
tr:nth-child(even) {
  background-color: #f7f7f7;
}
th, td {
  padding: 0.66rem 1rem;
}
th {
  background-color: #f0f0f0;
  border: 1px solid #dedede;
}
td {
  border: 1px solid var(--text-color-dimmest);
}

/**
 * Header & Footer
 */
.site-header {
  border-top: 5px solid var(--text-color-dim);
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--text-color-dimmest);
}

.site-header > .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-title {
  font-size: 1.5rem;
  color: var(--text-color-dim);
  font-style: italic;
}

.site-footer {
  border-top: 1px solid var(--text-color-dimmest);
  padding: 1rem 0;
}

.footer-heading {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

/**
 * Page content
 */
.page-content {
  flex: 1;
}

.page-content .wrapper {
  padding-top: min(3rem, 7.5%);
  padding-bottom: min(3rem, 7.5%);
}

.page-heading {
  font-size: 2rem;
}

.post-list-heading {
  font-size: 1.75rem;
}

.post-list {
  margin-left: 0;
  list-style: none;
}
.post-list > li {
  margin-bottom: 2rem;
}

.post-meta {
  font-size: 0.875rem;
  color: var(--text-color-dim);
}

.post-meta > *:not(:first-child)::before {
  content: ' ⸰ ';
}

.post-link {
  display: block;
  font-size: 1.5rem;
}

/**
 * Posts
 */
.post:has(.sidenote) {
  /* Post text takes 50% of the screen, but its container is 80% due to padding. */
  width: calc(50% / 0.8);
}

.post-header {
  margin-bottom: 2rem;
}

.post-title {
  font-size: 2rem;
  line-height: 1.25;
}

.post-content {
  counter-reset: sidenote-counter;
  margin-bottom: 2rem;
}
.post-content h2 {
  font-size: 1.625rem;
}
.post-content h3 {
  font-size: 1.25rem;
}
.post-content h4 {
  font-size: 1.125rem;
}

.post-content h2,
.post-content h3,
.post-content h4 {
  /* Leave some space between post "sections". */
  margin-top: 3rem;
}

.sidenote {
	float: right;
  clear: right;
  width: 48%;
  margin-right: -60%;
  margin-bottom: 1em;
	font-size: 0.9rem;
  position: relative;
}

.sidenote-number {
  counter-increment: sidenote-counter;
}

.sidenote-number::after {
  content: "[" counter(sidenote-counter) "]";
	font-size: 11px;
	position: relative;
	top: -0.4rem;
	margin-left: 0.2em;
}

.sidenote-number + .sidenote::before {
  content: counter(sidenote-counter) ". ";
  white-space: pre;
	position: absolute;
	right: 100%;
}

/**
 * Small screens layout.
 */
@media screen and (max-width: 760px) {
  .wrapper {
    width: 85%;
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
  .post:has(.sidenote) {
    width: auto;
  }
  /* TODO: show sidenotes on small screens */
  .sidenote,
  .sidenote-number {
    display: none;
  }
}


/* Syntax highlight colors generated with `pygmentize -S vs -f html` */
.highlight td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
.highlight span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
.highlight td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #008000 } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #0000ff } /* Keyword */
.highlight .ch { color: #008000 } /* Comment.Hashbang */
.highlight .cm { color: #008000 } /* Comment.Multiline */
.highlight .cp { color: #0000ff } /* Comment.Preproc */
.highlight .cpf { color: #008000 } /* Comment.PreprocFile */
.highlight .c1 { color: #008000 } /* Comment.Single */
.highlight .cs { color: #008000 } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { font-weight: bold } /* Generic.Heading */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #0000ff } /* Keyword.Constant */
.highlight .kd { color: #0000ff } /* Keyword.Declaration */
.highlight .kn { color: #0000ff } /* Keyword.Namespace */
.highlight .kp { color: #0000ff } /* Keyword.Pseudo */
.highlight .kr { color: #0000ff } /* Keyword.Reserved */
.highlight .kt { color: #2b91af } /* Keyword.Type */
.highlight .s { color: #a31515 } /* Literal.String */
.highlight .nc { color: #2b91af } /* Name.Class */
.highlight .ow { color: #0000ff } /* Operator.Word */
.highlight .sa { color: #a31515 } /* Literal.String.Affix */
.highlight .sb { color: #a31515 } /* Literal.String.Backtick */
.highlight .sc { color: #a31515 } /* Literal.String.Char */
.highlight .dl { color: #a31515 } /* Literal.String.Delimiter */
.highlight .sd { color: #a31515 } /* Literal.String.Doc */
.highlight .s2 { color: #a31515 } /* Literal.String.Double */
.highlight .se { color: #a31515 } /* Literal.String.Escape */
.highlight .sh { color: #a31515 } /* Literal.String.Heredoc */
.highlight .si { color: #a31515 } /* Literal.String.Interpol */
.highlight .sx { color: #a31515 } /* Literal.String.Other */
.highlight .sr { color: #a31515 } /* Literal.String.Regex */
.highlight .s1 { color: #a31515 } /* Literal.String.Single */
.highlight .ss { color: #a31515 } /* Literal.String.Symbol */

/* Tweak: de-emphasize console prompt */
.highlight .gp { color: #828282 }
