* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(/assets/fonts/libre-baskerville.woff2) format('woff2');
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'), url(/assets/fonts/libre-baskerville-bold.woff2) format('woff2');
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'), url(/assets/fonts/libre-baskerville-italic.woff2) format('woff2');
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

html {
  --text-color:       #111;
  --background-color: #fdfdfd;
  --accent-color:     #00a50a;
  --grey-color:       #828282;
  --grey-color-light: #e8e8e8;
  --grey-color-dark:  #424242;
}

html {
  font-family: 'Libre Baskerville', 'DejaVu Serif', 'Bitstream Vera Serif', 'Georgia', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: var(--text-color);
  background-color: var(--background-color);
  font-kerning: normal;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  /* Set `margin-bottom` to maintain vertical rhythm */
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

figure > img {
  display: block;
}

figcaption {
  font-size: 0.875rem;
}

ul, ol {
  margin-left: 2rem;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  /* Libre Baskerville font has some really pretty ligatures. Too fancy for normal text, but totally acceptable for titles. */
  font-variant-ligatures: common-ligatures discretionary-ligatures;
}

a:not(.inert-link) {
	color: var(--text-color);
	transition: all 0.15s;
	text-underline-offset: 0.1em;
}
a:not(.inert-link):hover {
	text-underline-offset: 0.3em;
	color: var(--accent-color);
}
.inert-link {
  text-decoration: none;
}

.social-media-list a:hover {
  text-decoration: none;
}
.social-media-list a:hover .username {
  text-decoration: underline;
}

blockquote {
  color: var(--grey-color);
  border-left: 4px solid var(--grey-color-light);
  padding-left: 1rem;
  font-size: 1.125rem;
  letter-spacing: -1px;
  font-style: italic;
}
blockquote > :last-child {
  margin-bottom: 0;
}

pre,
code {
  font-family: ui-monospace, 'SFMono-Regular', 'SF Mono', 'Menlo', 'Consolas', 'Liberation Mono', monospace;
}

pre {
  line-height: 1.5;
  background-color: #f3f3f9;
  padding: 8px 16px;
  overflow-x: auto;
  border-left: 1px solid var(--grey-color-dark);
  overflow-x: auto;
}

.wrapper {
  max-width: 1168px;
  margin: 0 auto;
  padding: 0 10%;
  box-sizing: content-box;
}

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: var(--grey-color);
  margin-right: 0.5rem;
  vertical-align: text-top;
}

.social-media-list li + li {
  padding-top: 5px;
}

table {
  margin-bottom: 2rem;
  width: 100%;
  text-align: left;
  color: var(--grey-color-dark);
  border-collapse: collapse;
  border: 1px solid var(--grey-color-light);
}
tr:nth-child(even) {
  background-color: #f7f7f7;
}
th, td {
  padding: 0.66rem 1rem;
}
th {
  background-color: #f0f0f0;
  border: 1px solid #dedede;
}
td {
  border: 1px solid var(--grey-color-light);
}

/**
 * Site header
 */
.site-header {
  border-top: 5px solid var(--grey-color-dark);
  border-bottom: 1px solid var(--grey-color-light);
  position: relative;
}

.site-header > .wrapper {
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-title {
  font-size: 1.25rem;
  color: var(--grey-color-dark);
  text-transform: lowercase;
}

.site-nav .nav-trigger {
  display: none;
}

.site-nav .menu-icon {
  display: none;
}

.site-nav .page-link {
  color: var(--text-color);

}
.site-nav .page-link:not(:last-child) {
  margin-right: 20px;
}

@media screen and (max-width: 760px) {
  .site-nav {
    position: absolute;
    top: 9px;
    right: 1rem;
    background-color: var(--background-color);
    border: 1px solid var(--grey-color-light);
    border-radius: 5px;
    text-align: right;
  }
  .site-nav label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }
  .site-nav .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
  }
  .site-nav .menu-icon > svg {
    fill: var(--grey-color-dark);
  }
  .site-nav input ~ .trigger {
    clear: both;
    display: none;
  }
  .site-nav input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }
  .site-nav .page-link {
    display: block;
    padding: 5px 10px;
    margin-left: 20px;
  }
  .site-nav .page-link:not(:last-child) {
    margin-right: 0;
  }
}


/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid var(--grey-color-light);
  padding: 1rem 0;
}

.footer-heading {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-items > *:not(:first-child)::before {
  content: ' • '
}


/**
 * Page content
 */
.page-content {
  padding: 2rem 0;
  flex: 1;
}

.page-heading {
  font-size: 2rem;
}

.post-list-heading {
  font-size: 1.75rem;
}

.post-list {
  margin-left: 0;
  list-style: none;
}
.post-list > li {
  margin-bottom: 2rem;
}

.post-meta {
  font-size: 0.875rem;
  color: var(--grey-color);
}

.post-meta > *:not(:first-child)::before {
  content: ' • '
}

.post-link {
  display: block;
  font-size: 1.5rem;
}

/**
 * Posts
 */
.post {
  width: 62.5%;
}

.post-header {
  margin-bottom: 2rem;
}

.post-title {
  font-size: 2rem;
  line-height: 1.25;
}

.post-content {
  counter-reset: sidenote-counter;
  margin-bottom: 2rem;
}
.post-content h2 {
  font-size: 1.625rem;
}
.post-content h3 {
  font-size: 1.25rem;
}
.post-content h4 {
  font-size: 1.125rem;
}

.sidenote {
	float: right;
  clear: right;
  width: 48%;
  margin-right: -60%;
  margin-bottom: 1em;
	font-size: 0.9rem;
  position: relative;
}

.sidenote-number {
  counter-increment: sidenote-counter;
}

.sidenote-number::after {
  content: counter(sidenote-counter);
	font-size: 11px;
	position: relative;
	top: -0.4rem;
	margin-left: 0.2em;
  text-decoration: underline;
}

.sidenote-number + .sidenote::before {
  content: counter(sidenote-counter) ". ";
  white-space: pre;
	position: absolute;
	right: 100%;
}

/**
 * Small screen styles
 */
@media screen and (max-width: 760px) {
  .wrapper {
    width: 85%;
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
  .post {
    width: auto;
  }
  /* TODO: show sidenotes on small screens */
  .sidenote,
  .sidenote-number {
    display: none;
  }
}


/* Syntax highlight colors generated with `pygmentize -S vs -f html` */
.highlight td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
.highlight span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
.highlight td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #008000 } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #0000ff } /* Keyword */
.highlight .ch { color: #008000 } /* Comment.Hashbang */
.highlight .cm { color: #008000 } /* Comment.Multiline */
.highlight .cp { color: #0000ff } /* Comment.Preproc */
.highlight .cpf { color: #008000 } /* Comment.PreprocFile */
.highlight .c1 { color: #008000 } /* Comment.Single */
.highlight .cs { color: #008000 } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { font-weight: bold } /* Generic.Heading */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #0000ff } /* Keyword.Constant */
.highlight .kd { color: #0000ff } /* Keyword.Declaration */
.highlight .kn { color: #0000ff } /* Keyword.Namespace */
.highlight .kp { color: #0000ff } /* Keyword.Pseudo */
.highlight .kr { color: #0000ff } /* Keyword.Reserved */
.highlight .kt { color: #2b91af } /* Keyword.Type */
.highlight .s { color: #a31515 } /* Literal.String */
.highlight .nc { color: #2b91af } /* Name.Class */
.highlight .ow { color: #0000ff } /* Operator.Word */
.highlight .sa { color: #a31515 } /* Literal.String.Affix */
.highlight .sb { color: #a31515 } /* Literal.String.Backtick */
.highlight .sc { color: #a31515 } /* Literal.String.Char */
.highlight .dl { color: #a31515 } /* Literal.String.Delimiter */
.highlight .sd { color: #a31515 } /* Literal.String.Doc */
.highlight .s2 { color: #a31515 } /* Literal.String.Double */
.highlight .se { color: #a31515 } /* Literal.String.Escape */
.highlight .sh { color: #a31515 } /* Literal.String.Heredoc */
.highlight .si { color: #a31515 } /* Literal.String.Interpol */
.highlight .sx { color: #a31515 } /* Literal.String.Other */
.highlight .sr { color: #a31515 } /* Literal.String.Regex */
.highlight .s1 { color: #a31515 } /* Literal.String.Single */
.highlight .ss { color: #a31515 } /* Literal.String.Symbol */

/* Tweak: de-emphasize console prompt */
.highlight .gp { color: var(--grey-color) }
