@use "sass:list";
@use "sass:math";

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

html {
  --text-color:       #111;
  --background-color: #fdfdfd;
  --link-color:       #2a7ae2;
  --grey-color:       #828282;
  --grey-color-light: #e8e8e8;
  --grey-color-dark:  #424242;
}

html {
  font: 400 16px/1.75 'Libre Baskerville', 'DejaVu Serif', 'Bitstream Vera Serif', 'Georgia', serif;
  color: var(--text-color);
  background-color: var(--background-color);
  font-kerning: normal;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  // Set `margin-bottom` to maintain vertical rhythm
  margin-bottom: $spacing-unit * 0.5;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

figure > img {
  display: block;
}

figcaption {
  font-size: 0.875rem;
}

ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  // Libre Baskerville font has some really pretty ligatures. Too fancy for normal text, but totally acceptable for titles.
  font-variant-ligatures: common-ligatures discretionary-ligatures;
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

blockquote {
  color: var(--grey-color);
  border-left: 4px solid var(--grey-color-light);
  padding-left: $spacing-unit * 0.5;
  font-size: 1.125rem;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

pre,
code {
  font-family: ui-monospace, 'SFMono-Regular', 'SF Mono', 'Menlo', 'Consolas', 'Liberation Mono', monospace;
}

pre {
  line-height: 1.5;
  background-color: #f3f3f9;
  padding: 8px 16px;
  overflow-x: auto;
  border-left: 1px solid var(--grey-color-dark);
  overflow-x: auto;
}

.wrapper {
  max-width: 48rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: var(--grey-color);
    margin-right: 0.5rem;
    vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}

table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: left;
  color: var(--grey-color-dark);
  border-collapse: collapse;
  border: 1px solid var(--grey-color-light);
  tr {
    &:nth-child(even) {
      background-color: #f7f7f7;
    }
  }
  th, td {
    padding: math.div($spacing-unit, 3) ($spacing-unit * 0.5);
  }
  th {
    background-color: #f0f0f0;
    border: 1px solid #dedede;
  }
  td {
    border: 1px solid var(--grey-color-light);
  }
}
