/**
 * Site header
 */
.site-header {
  border-top: 5px solid var(--grey-color-dark);
  border-bottom: 1px solid var(--grey-color-light);
  position: relative;
}

.site-header > .wrapper {
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-title {
  font-size: 1.625rem;
  color: var(--grey-color-dark);
}

.site-nav .nav-trigger {
  display: none;
}

.site-nav .menu-icon {
  display: none;
}

.site-nav .page-link {
  color: var(--text-color);

}
.site-nav .page-link:not(:last-child) {
  margin-right: 20px;
}

@media screen and (max-width: 600px) {
  .site-nav {
    position: absolute;
    top: 9px;
    right: 1rem;
    background-color: var(--background-color);
    border: 1px solid var(--grey-color-light);
    border-radius: 5px;
    text-align: right;
  }
  .site-nav label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }
  .site-nav .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
  }
  .site-nav .menu-icon > svg {
    fill: var(--grey-color-dark);
  }
  .site-nav input ~ .trigger {
    clear: both;
    display: none;
  }
  .site-nav input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }
  .site-nav .page-link {
    display: block;
    padding: 5px 10px;
    margin-left: 20px;
  }
  .site-nav .page-link:not(:last-child) {
    margin-right: 0;
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid var(--grey-color-light);
  padding: 2rem 0;
}

.footer-heading {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 0.9375rem;
  color: var(--grey-color);
  margin-left: -1rem;
}

.footer-col {
  float: left;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.footer-col-1 {
  width: 35%;
}

.footer-col-2 {
  width: 20%;
}

.footer-col-3 {
  width: 45%;
}

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: 50%;
  }

  .footer-col-3 {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: 100%;
  }
}



/**
 * Page content
 */
.page-content {
  padding: 2rem 0;
  flex: 1;
}

.page-heading {
  font-size: 2rem;
}

.post-list-heading {
  font-size: 1.75rem;
}

.post-list {
  margin-left: 0;
  list-style: none;
}
.post-list > li {
  margin-bottom: 2rem;
}

.post-meta {
  font-size: 0.875rem;
  color: var(--grey-color);
}

.post-meta > *:not(:first-child):before {
  content: ' • '
}

.post-link {
  display: block;
  font-size: 1.5rem;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: 2rem;
}

.post-title {
  font-size: 2rem;
  line-height: 1;
}

.post-content {
  margin-bottom: 2rem;
}
.post-content h2 {
  font-size: 1.625rem;
}
.post-content h3 {
  font-size: 1.25rem;
}
.post-content h4 {
  font-size: 1.125rem;
}
