/**
 * Site header
 */
.site-header {
  border-top: 5px solid var(--grey-color-dark);
  border-bottom: 1px solid var(--grey-color-light);

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-header > .wrapper {
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-title {
  font-size: 1.625rem;
  color: var(--grey-color-dark);
}

.site-nav {
  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: var(--text-color);

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit * 0.5;
    background-color: var(--background-color);
    border: 1px solid var(--grey-color-light);
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: var(--grey-color-dark);
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid var(--grey-color-light);
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 1.125rem;
  margin-bottom: $spacing-unit * 0.5;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 0.9375rem;
  color: var(--grey-color);
  margin-left: -$spacing-unit * 0.5;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit * 0.5;
  padding-left: $spacing-unit * 0.5;
}

.footer-col-1 {
  width: 35%;
}

.footer-col-2 {
  width: 20%;
}

.footer-col-3 {
  width: 45%;
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: 50%;
  }

  .footer-col-3 {
    width: 100%;
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: 100%;
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  font-size: 2rem;
}

.post-list-heading {
  font-size: 1.75rem;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: 0.875rem;
  color: var(--grey-color);
}

.post-meta > *:not(:first-child):before {
  content: ' • '
}

.post-link {
  display: block;
  font-size: 1.5rem;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 2rem;
  line-height: 1;
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 2rem;

    @include media-query($on-laptop) {
      font-size: 1.75rem;
    }
  }

  h3 {
    font-size: 1.625rem;

    @include media-query($on-laptop) {
      font-size: 1.375rem;
    }
  }

  h4 {
    font-size: 1.25rem;

    @include media-query($on-laptop) {
      font-size: 1.125rem;
    }
  }
}
