<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- unless page.bare_layout -%}{%- include header.html -%}{%- endunless -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- unless page.bare_layout -%}{%- include footer.html -%}{%- endunless -%}

    <script>
      // TODO: use the hidden checkbox trick to make sidenote toggles work
      // without JS.
      // TODO: add mobile toggles for margin notes.
      let sidenotes = document.querySelectorAll('.sidenote-number + .sidenote')
      for (let sidenote of sidenotes) {
        let toggle = sidenote.previousElementSibling
        toggle.addEventListener('click', () => {
          sidenote.classList.toggle('shown')
        })
      }
    </script>
  </body>

</html>
