---
layout: default
---

<style>
html:has(.resume) {
  --main-text-width: 800px;
}
.resume h1 { font-size: 2rem; }
.resume h2 { font-size: 1.5rem; margin-top: 2rem; }
.resume h3 { font-size: 1.18rem; margin-top: 2rem; }
.resume li { margin-bottom: 0.5rem; }
.resume h1 small {
  font-size: 1.5rem;
  font-weight: normal;
  font-style: italic;
  color: var(--text-color-dim);
}
.resume h3 small {
  font-size: 1rem;
  font-weight: normal;
  color: var(--text-color-dim);
  font-variant-ligatures: initial;
}
.resume h1,
.resume h3 {
  display: flex;
  flex-flow: row wrap;
  gap: 0 1rem;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid var(--text-color-dimmer);
}
.resume h1 :last-child,
.resume h3 :last-child {
  margin-left: auto;
}
.resume .techs {
  font-size: 0.9rem;
  color: var(--text-color-dim);
}
.resume #work {
  break-before: page;
}

@media print {
  html:has(.resume) {
    --main-text-width: auto;
  }
}
@page {
  size: a4 portrait;
  margin: 0.5in 0;
}
</style>

<div class="resume">
  {{ content }}
</div>
