---
layout: default
---

{% assign resume = site.data[page.resume_key] %}

<style>
body:has(.resume) .wrapper {
  max-width: 800px;
}
.resume h1 { font-size: 2rem; }
.resume h2 { font-size: 1.5rem; margin-top: 2rem; }
.resume h3 { font-size: 1.18rem; margin-top: 2rem; }
.resume li { margin-bottom: 0.5rem; }
.resume .subtitle {
  font-weight: normal;
  font-style: italic;
  font-size: 1.5rem;
  color: var(--text-color-dim);
}
.resume .time {
  font-size: 1rem;
  font-weight: normal;
  color: var(--text-color-dim);
}
.resume .wide-heading {
  display: flex;
  flex-flow: row wrap;
  gap: 0 1rem;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid var(--text-color-dimmer);
}
.resume .wide-heading :last-child {
  margin-left: auto;
}
.resume .techs {
  font-size: 0.9rem;
  color: var(--text-color-dim);
}
</style>

<div class="resume">
  <h1 class="wide-heading">
    Demian Ferreiro
    <span class="subtitle">{{ resume.subtitle }}</span>
  </h1>
  {%- for section in resume.sections -%}
    {% if section.title %}<h2 id="{{ section.slug }}">{{ section.title }}</h2>{% endif %}
    {{ section.content | markdownify }}
    {%- for item in section.items -%}
      <h3 class="wide-heading">
        <span>{{ item.role }}, {{ item.org }}</span>
        <small class="time">
          {{ "" | split: "" | push: item.location | push: item.time | compact | join: ", " }}
        </small>
      </h3>
      {{ item.description | markdownify }}
      <p class="techs">{{ item.buzzwords | join: ' · ' }}</p>
    {%- endfor -%}
  {%- endfor -%}
</div>
